<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AllowNetworkAccess</key>
        <false/>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleDisplayName</key>
        <string>CindyJS-Example</string>
        <key>CFBundleIdentifier</key>
        <string>org.cindyjs.60940e4a-8637-4714-87f5-5cd62dd36e36</string>
        <key>CFBundleName</key>
        <string>CindyJS</string>
        <key>CFBundleShortVersionString</key>
        <string>0.8</string>
        <key>CFBundleVersion</key>
        <string>0.8</string>
        <key>Height</key>
        <string>572</string>
        <key>MainHTML</key>
        <string>toolembed.html</string>
        <key>Width</key>
        <string>1042</string>
    </dict>
</plist>
